In [1]:
import pandas as pd
from sqlalchemy import create_engine
from rich.console import Console

In [22]:
print = Console().print

In [6]:
pq = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet',engine='pyarrow')
# pq.head(100)
pq.to_csv('yellow_tripdata_2021-01.csv', index=False)

In [16]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [18]:
df = next(df_iter)
len(df)

100000

In [24]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
# create connection to db
engine = create_engine('postgresql://root:root@localhost:5432/yellow_taxi')
engine.connect()

In [27]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
        "VendorID" BIGINT,
        tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
        tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
        passenger_count FLOAT(53),
        trip_distance FLOAT(53),
        "RatecodeID" FLOAT(53),
        store_and_fwd_flag TEXT,
        "PULocationID" BIGINT,
        "DOLocationID" BIGINT,
        payment_type BIGINT,
        fare_amount FLOAT(53),
        extra FLOAT(53),
        mta_tax FLOAT(53),
        tip_amount FLOAT(53),
        tolls_amount FLOAT(53),
        improvement_surcharge FLOAT(53),
        total_amount FLOAT(53),
        congestion_surcharge FLOAT(53),
        airport_fee FLOAT(53)
)

In [29]:
%time df.to_sql(con=engine,name='yello_taxi',if_exists='replace')

CPU times: total: 10.1 s
Wall time: 16.5 s

1000

In [26]:
engine = create_engine('postgresql://root:root@localhost:5432/yellow_taxi')
engine.connect()

In [27]:
import time

In [35]:
query  = """
    SELECT count(*) FROM yellow_taxi
    """
pd.read_sql(query,con=engine)

     count
0  1269769

In [29]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [30]:
df = next(df_iter)
len(df)

100000

In [32]:
df.head(0).to_sql(con=engine,name='yellow_taxi',if_exists='replace')

0

In [34]:
chunk_number = 0

while True:
    start = time.time()
    
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(con=engine,name='yellow_taxi',if_exists='append')

    end = time.time()

    chunk_number += 1
    print(f'Inserted chunck {chunk_number} in {end-start:.3f} seconds')

Inserted chunck 1 in 24.056 seconds
Inserted chunck 2 in 24.662 seconds
Inserted chunck 3 in 23.208 seconds
Inserted chunck 4 in 23.404 seconds
Inserted chunck 5 in 23.260 seconds
Inserted chunck 6 in 23.437 seconds

C:\Users\hands\AppData\Local\Temp\ipykernel_86956\3277139778.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Inserted chunck 7 in 24.820 seconds
Inserted chunck 8 in 28.165 seconds
Inserted chunck 9 in 23.993 seconds
Inserted chunck 10 in 23.998 seconds
Inserted chunck 11 in 23.712 seconds

C:\Users\hands\AppData\Local\Temp\ipykernel_86956\3277139778.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted chunck 12 in 22.782 seconds
Inserted chunck 13 in 14.966 seconds

StopIteration: